<div class="container container-form">

<h1>Create a New Recipe</h1>
<br></br>
<%= render 'form', recipe: @recipe %>

<br></br>
<button type="button" class="btn btn-danger">
<%= link_to 'Cancel', recipes_path %>
</button>

<br></br>
</div>