<!DOCTYPE html>
<html>

<body>

<div class="container-index">
<h1>Storing recipes is easy with Recipe Stash.</h1>
</div>
	<img src="/about.jpeg" alt="about" class="about-img" />



<div class="gray">
<div class="row">
	<div class="col-md-3">
		<div class="about-step">
		<h2>Step 1</h2>
		<p>Give it a name</p>
		</div>
	</div>

	<div class="col-md-3">
		<div class="about-step">
		<h2>Step 2</h2>
		<p>Add some tasty ingredients</p>
		</div>
	</div>

	<div class="col-md-3">
		<div class="about-step">
		<h2>Step 3</h2>
		<p>Write out some instructions</p>
	</div>
	</div>

	<div class="col-md-3">
		<div class="about-step">
		<h2>Step 4</h2>
		<p>Upload an image</p>
		</div>
	</div>

</div><!--row ends here-->



<br></br>
</div>
</body>
</html>